.testimonial_card {
  display: inline-block;
  height: 136px;
  width: fit-content;
  min-width: 353px;
  max-width: 531px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  background: var(--White, #fff);
  cursor: grab;
  /* ShadowDropdown */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  margin-right: 20px;
  @media (max-width: 767px) {
    margin-right: 10px;
  }
}
.testimonial_card_top {
  display: flex;
  justify-content: flex-start;
  align-self: left;
  margin-bottom: 20px;
  max-height: 1em;
}
.testimonial_card_name {
  color: var(--grey-900, #19191a);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.testimonial_card_designation {
  color: var(--grey-400, #96979a);
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: -5px;
}
.testimonial_card_review {
  color: var(--text-5, #1d2129);
  /* Body */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.lastCard {
  opacity: 0;
  margin-left: 300px;
  @media (max-width: 767px) {
    margin-left: -300px;
  }
}
